.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Resta navbar */
    background-color: #f6f9fc;
  }
  
  .dashboard-box {
    background-color: #6ee2f5;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    color: #022a5c;
  }
  
  .dashboard-box h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dashboard-box p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .dashboard-buttons button {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #022a5c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }
  